{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block body %}
	<div class="container mt-4">

		{% if error %}
			<div class="alert alert-info">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<form class="form-group " method="post" action="{{ path('app_login')}}">
			<label class="label-form" for="username">username</label>
			<input type="text" id="username" name="_username" class="form-control" value={{ lastUsername }}>
			<lable class="label-form" for="password">password</label>
			<input type="password" id="password" name="_password" class="form-control">
			<button type="submit" class="btn btn-primary">Se connecter</button>
		</form>
	</div>
{% endblock %}
